/*! Released under MIT License, see http://bit.ly/12HrVpf */
@columns            : 12;
@grid-width         : 100%;
@grdl-width         : (@grid-width / @columns);

[data-mags]{
  width: @grid-width;
  margin: 0 auto;
  [data-mags-first]{clear: left;}
}

.MAGS(@cols: 1, @paddingcols: 0){
  float: left;
  width: (percentage(@grdl-width * @cols) / @grid-width);
  margin-left: (percentage(@grdl-width * @paddingcols) / @grid-width);
}