/*! Released under MIT License, see http://bit.ly/12HrVpf */
$columns            : 12;
$grid-width         : 100%;
$grdl-width         : ($grid-width / $columns);

[data-mags]{
  width: $grid-width;
  margin: 0 auto;
  [data-mags-first]{clear: left;}
}

@mixin MAGS($cols, $paddingcols: 0){
  float: left;
  width: ($grdl-width * $cols) / $grid-width*100#{'%'};
  margin-left: ($grdl-width * $paddingcols) / $grid-width*100#{'%'};
}